doctype html
html
  head
    title='vue-github-issue-blog'
    link(rel="stylesheet",href="./css/github-markdown.css")
    link(rel="stylesheet",href="./css/highlight.css")
    meta(name="viewport",content="width=device-width,user-scalable=no")
  body
    app
    script(src='js/main.js')
